<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Edu modules</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Главная</a>
      <a class="nav-item nav-link" href="#">О проекте</a>
      <a class="nav-item nav-link" href="#">Контакты</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Вход</a>
    </div>
  </div>
</nav>
