<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Edu modules</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Главная</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">О проекте</a>
      <a routerLink="/apps" routerLinkActive="active" class="nav-item nav-link">Каталог</a>
      <a class="nav-item nav-link" href="#">Контакты</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Вход</a>
    </div>
  </div>
</nav>
